<!DOCTYPE html>
<html>

<head>
  <%- include('../../layout/head') -%>
</head>

<body>
 <main>
  <header>
    <%- include('../../layout/header') -%>
  </header>
  <% searchResults.forEach( book => { %>
  <div>
    <img src= "<%= book.image %>" alt="Book Image"> <br>
    <p><%= book.title %></p> <br>
    <p><%= book.authors %></p> <br>
    <p>Description: <%= book.description %></p>
    <button action="/add" type="submit">Select this Book!</button>
  </div>
  <% }); %>
  </main>

</body>

</html>