<!DOCTYPE html>
<html>

<head>
  <%- include('../layout/head'); -%>
</head>

<body>
  <header>
    <%- include('../layout/header'); -%>
  </header>
  <% searchResults.forEach( book => { %>
  <div>
    <img src="<%= book.placeholderImage%>" alt="Placeholder"> <br>
    <p><%= book.title %></p> <br>
    <p><%= book.authors %></p> <br>
    <p>Description: <%= book.description %></p>
  </div>
  <% }); %>

</body>

</html>