<!DOCTYPE html>
<html>

<head>

  <%- include('../../layout/head') -%>
</head>

<body>
 <main>
  <header>
    <%- include('../../layout/header') -%>
  </header>
    <h3> Total number of Books in search: <%= searchResults.length %> </h3>
    <% searchResults.forEach( book => { %>
      <div>
        <img src= "<%= book.image %>" alt="Book Image"> <br>
        <p><%= book.title %></p> <br>
        <p><%= book.authors %></p> <br>
        <p class="descrip"><b>Description:</b> <%= book.description %></p>
        <!-- <p>ISBN: <%= book.isbn %></p> -->
        <button action="/add/<% book.etag %>" type="submit">Select this Book!</button>
      </div>
    <% }); %>
  </main>

</body>

</html>